:root {
  font-family: "Roboto Mono";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-image: url(./Img/hd-wallpaper-2695569_1920.jpg);
  background-color: #242424;
}
body {
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 3em;
}
.category-close {
  /* När category- menyn är stängd*/
  background-color: rgb(37, 26, 44);
}
.category-open {
  /* När category- menyn är öppen*/
  background-color: rgb(120, 93, 115);
}
.category {
  /* wrappen runt alla kategorier */
  color: rgb(220, 149, 231);
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
}
.category svg {
  transition: all 200ms ease-in;
}
.category.category-open svg {
  transform: rotate(-180deg);
}

.menu-close {
  /* när category är dold*/
  visibility: hidden;
  opacity: 0;
  transform: translateY(-25px);
}
.menu-open {
  /*När category är visible*/
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.menu-list {
  transition: all 250ms ease;
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 2em;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: rgba(5, 12, 47, 0.674);
  box-shadow: 2px 4px 10px rgba(0, 5, 29);
  border-radius: 3%;
  width: 60%;
  /* max-width: 40vw; */
}

.cardItems {
  color: rgba(238, 241, 44, 0.87);
  width: 80%;
  padding: 1em;
}

.cardItem {
  list-style: none;

  padding: 0.5em;
}

.pageTitle {
  color: rgba(207, 210, 36, 0.87);
  text-shadow: 1px 2px 15px #c6c662;

  text-align: center;
  margin-bottom: 2em;
}

/* .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #e7d539;
} */
/* .card {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border: 2px solid white;
} */

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  background-color: rgba(5, 12, 47, 0.674);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  color: rgba(238, 241, 44, 0.87);
  width: 50%;
  height: fit-content;
  transition: all 250ms ease;
}

.modal.inactive {
  visibility: hidden;
  opacity: 0;
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

.modalBtn {
  background: none;
  outline: none;
  border: none;
  color: rgba(238, 241, 44, 0.87);
  padding: 15px 35px;
  background-color: rgba(107, 115, 164, 0.3);
  backdrop-filter: blur(5px);
  margin-top: 2rem;
  border-radius: 20px;
  cursor: pointer;
}

@media screen and (min-width: 840px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center;
  }

  .card {
    height: 55vh;
    width: 30em;
  }

  .people {
    height: 41vh;
  }

  .planets .species .vehicles {
    height: 50vh;
  }

  .starships {
    height: 66vh;
  }

  .cardItems {
    width: 80%;
  }

  .modal {
    position: absolute;
    flex-wrap: wrap;

    width: 30em;
  }

}
